.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 30px;
}

.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-indent: 3px; /* отступ между маркером и первой строкой текста вправо для выравнивания*/
  list-style: circle;
}

.header__link {
  text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
  text-indent: unset; /*отмена отступа для выравнивания*/
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  justify-self: end;
}

.address {
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: inherit;
  line-height: 24px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: 0;
  width: 1100px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 106px 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.title__text-left {
  display: block;
  text-align: left;
}

.title__text-center {
  display: block;
  margin-right: -30px;
  text-align: center;
}

.title__text-right {
  display: block;
  margin-right: -30px;
  text-align: right;
}
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 50px 50px;
  text-transform: uppercase;
}

.cover__description-text {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: right;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots__heading {
  padding: 178px 0 27px 64px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin: 0 24px;
  color: #ffffff;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26.5px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  margin: 30px 0 0 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-underline-offset: 5px;
}

.about__columns {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 28px;
  margin: 118px 24px 0;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  margin: auto;
}

.about__content {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-top: 136px;
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: flex-start;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 181px 50px 82px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
